@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
    text-decoration: none;
}

.sidebar-container{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    transition: all .5s ease-in-out;
}

.sidebar-container.hide{
    left: -100%;
}

.sidebar-logo{
    margin-top: 1.8rem;
    color: #119396;
}

.sidebar-link-container ul{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.sidebar-link-container .sidebar-active{
    background-color: #E3F3F9;
    color: #119396;
    border-radius: 5px;
}

.sidebar-link-container li a{
    display: flex;
    padding: 7px 10px;
    color: #555;
    align-items: center;
    gap: .9rem;
    
}

.sidebar-link-container li a:hover{
    outline: 1px solid #119396;
    color: #119396;
    border-radius: 5px;
}

.sidebar-btn {
    position: fixed;
    transition: all .3s ease-in-out;
}

.sidebar-btn button {
    background-color: #119396;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.close-sidebar.show {
    top: 0;
    left: 20%;
}

.open-sidebar.show {
    top: 10%;
    left: 0;
}

.open-sidebar,
.close-sidebar {
    display: none;
    z-index: 1;
}

.open-sidebar.show,
.close-sidebar.show {
    display: block;
}

.main-container {
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-profile{
    position: absolute;
    top: 7%;
    right: 2%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 25px 5px 7px;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.menu-profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.menu-profile p{
    color: #1E1E1E;
    font-size: .9rem;
}

.header-main{
    font-size: 1.2rem;
    color: #119396;
    margin: 100px 0 30px;
}

.dashboard .header-main{
    margin-right: auto;
    margin-left: 2.5%;
}

/* DEFAULT TABLE START */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-top: 10px;
}

.table-wrapper {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

.main-table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
}

.main-table th {
    font-weight: 400;
    color: #119396;
    padding: 12px;
    text-align: left;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.main-table td:nth-last-child(2),
.main-table td:last-child,
.main-table th:nth-last-child(2),
.main-table th:last-child{
    text-align: center;
}

.main-table td {
    padding: 12px;
    font-size: 14px;
    max-width: 100px;
    overflow: hidden;  /* Hide overflowed content */
    text-overflow: ellipsis;  /* Show ellipsis (...) when text overflows */
    white-space: nowrap;
}

.main-table tr:nth-child(even) {
    background-color: #e8f9ff;
}

.main-table tr td button{ 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.main-table tr td button:nth-child(1){
    color: #119396;
}

.main-table tr td button:nth-child(2){
    color: #FE0A0A;
}

/* DEFAULT TABLE END */

.search-table{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: flex-start;
    gap: 10px;
}

.add-destination-btn {
  margin-left: auto;
}

.search-table select,
.search-table input[type="text"]{
    padding: 5.5px 20px;
    border: 1px solid #119396;
    color: #555;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}

.search-table input[type="text"]:hover{
    outline: 1px solid #555;
}

/* DEFAULT BUTTON DESIGN */
.search-table button{
    background-color: #119396;
    color: #fff;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 5px;
}

.search-table button:hover{
    background-color: #0f7b7e;
}

/* DASHBOARD START */
.first-dashboard{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-info{
    width: 23%;
    background-color: #fff;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #119396;
    border-radius: 10px;
}

.dashboard-info .info-header{
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
}

.dashboard-info .info-header i{
    font-size: 1.5rem;
}

.user-count{
    color: #3A94C8;
    font-size: 1.4rem;
    font-weight: 600;
}

/* DASHBOARD END */








