@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}


#home{
    height: 100vh;
    position: relative;
    background: url(../assets/bg.jpg) lightgray 50% / cover no-repeat;
    overflow: hidden;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient-home{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
    180deg,
    rgba(17.48, 146.75, 150.39, 0.4) 0%,
    rgba(227, 243, 249, 0.7) 100%
  );
    z-index: 0;
}

.nav-container{
    width: 100%;
    padding: 1.3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    top: 0;
}

.nav-container li,
.nav-container a,
.nav-container i {
    text-decoration: none;
    color: #119396;
}

.nav-menu li a{
    position: relative;
    display: inline-block;
}

.nav-menu li a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -7px;
    left: 0;
    background-color: #119396;
    transition: transform 0.25s ease-out;
}

.nav-menu li a:hover::after{
    transform: scaleX(1);
}

.nav-logo{
    font-weight: 700;
    font-size: 23px;
}

.nav-actions{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-actions i{
    color: #119396;
}

.button-btn1{
    border:  #119396 2px solid;
    border-radius: 5px;
    background:  #119396;
    color:  #ffffff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

.button-btn2{
    border:  #119396 2px solid;
    border-radius: 5px;
    background:  #ffffff;
    color:  #119396;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

.button-btn3{
    background-color: #fff;
    color: #119396;
    border: none;
    cursor: pointer;
    transition:.4s;
}

.button-btn1:hover{
    background:  #0b6064;
}

.button-btn2:hover{
    background:  #e6e6e6;
}

.button-btn3:hover{
    background-color: #dad4d4;
}

.social-btn i{
    color: #fff;
}

.search-btn i,
.user-logo i,
.nav-close i,
.toggle-menu i{
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

:is(.nav-close i, .toggle-menu i):hover{
    color: black;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.login-btn{
    padding: 0.5rem 1.8rem;
    
}

.search-btn,
.toggle-menu,
.nav-close,
.user-logo{
    display: none;  
}

.nav-link{
    font-weight: 400;
}

.show-menu{
    top: 0 !important;
}

.home-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-texts{
    width: 31vw;
    margin-top: 150px;
    flex-shrink: 0;
    color: #ffffff;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-texts h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-texts p{
    width: 29vw;
    font-size: 14px;
    font-weight: 12px;
    line-height: 1.6;
}

.home-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-image img{
    width: 800px;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-container input {
    z-index: -1;
    opacity: 0.8;
    margin-top: 10px;
    width: 100%;
    padding: 8px 15px 8px 50px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    outline: none;
}

.search-container i {
    position: absolute;
    left: 15px;
    top: 60%;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.search-container input:focus {
    opacity: 1;
}

.nav-search {
    border: 2px solid #119396;
    position: absolute;
    top: -50px;
    right: 12%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 8px 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
    width: 80%;
    max-width: 400px;
    z-index: 100;
}

.nav-search input {
    border: none;
    outline: none;
    font-size: 13px;
    padding: 6px 5px;
    width: 100%;
    max-width: 400px;
}

.nav-search .close-search {
    cursor: pointer;
    margin-left: 10px;
    color: #888;
}

.show-search{
    top: 12%;
}

.searchbar-btn{
    cursor: pointer;
    border: none;
    font-size: 12px;
    background-color: #119FA3;
    padding: 5px 8px;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s;
}

.searchbar-btn:hover{
    background-color: #0a6f72;
}

.login-container {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -700px;
    opacity: 0;
    left: 0;
    background-color: transparent;
    transition: top 0.8s, opacity 0.8s, background-color 0.1s;
}

.show-login-container{
    top: 0;
    opacity: 1;
}

.login-container h2{
    font-size: 1.5rem;
    margin: 10px 0 25px 0;
}

.login-content {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.login-container-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.login-container-close i{
    color:#333;
}

.login-title {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #333;
}

.login-input {
    margin-bottom: 20px;
}

.login-input input {
    width: 100%;
    padding: 15px;
    font-size: .9rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.login-container .button-login {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container .button-login:hover {
    background-color: #0056b3;
}

.other-methods {
    margin-bottom: 20px;
}

.other-methods p {
    font-size: 13px;
    color: #777;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-methods .left-line, .other-methods .right-line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.other-methods button{
    color: #fff;
}

.methods-icon button {
    margin: 10px 10px;
    padding: 10px 12px;
    font-size: 24px;
    border: none;
    color: #fff;
    background-color: blue;
    cursor: pointer;
    border-radius: 50%;
}

.methods-icon button:last-child{
    background-color: #bebebe;
}

.methods-icon button:hover {
    opacity: .5;
}

.terms p {
    font-size: 14px;
    color: #777;
    line-height: 1.5;
}

.terms a {
    color: #007bff;
    text-decoration: underline;
}

.terms a:hover {
    color: #0056b3;
}

#section-title{
    max-width: 50%;
    margin: 5rem 0 5rem;
    text-align: center;
}

#section-title h2{
    font-size: 2rem;
    font-weight: 700;
    color: #119FA3;
}

#section-title p{
    color: #119FA3;
    font-size: .9rem;
}


.review-container,
.hotel-container,
.destination-container {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
    overflow: hidden;
}

.review-card,
.hotel-card,
.destination-img {
    margin-top: 10px;
    border-radius: 10px 10px 7px 7px;
    border: 1px solid #119FA3;
    width: 280px;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: auto;
}

.review-card:hover,
.hotel-card:hover,
.destination-img:hover {
    transform: translateY(-10px);
}

.review-card img,
.hotel-card img,
.destination-img img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.destination-img h4 {
    padding: 2px 0;
    margin: 2px 10px;
    font-size: 1rem;
    white-space: nowrap;       
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;            
}

.destination-img .entrance-fee{
    margin: 0 10px;
    color: #119396;
}

.destination-img .entrance-fee span{
    margin-left: 5px;
}

.location{
    margin: 0 10px;
}

.location a, .location i{
    color: #0056b3;
    text-decoration: none;
    font-size: 0.8rem;
}

.location:hover{
    color: #0056b3;
    text-decoration: underline;
}

.review-desc,
.destination-desc {
    font-size: .9rem;
    margin: 2px 10px;
    color: #464242;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.destination-img.expanded .destination-desc {
    max-height: 500px;
}

.read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    color: #119FA3;
    cursor: pointer;
}

.read-more i {
    margin-left: 5px;
}

.left-line, .right-line {
    flex: 1;
    margin: 0px 10px;
    height: 1px;
    background-color: #119FA3;
}

.read-more:hover {
    opacity: 0.7;
}

.destination-btn{
    margin-top: 22px;
    padding: 0.5rem 1.8rem;
}

.saved-destination {
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px;
}

.saved-destination i{
    font-weight: 100;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s;
}


/* HOTEL DEALS START */

.hotel-card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
    height: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
}

.hotel-card h4{
    font-size: 1.2rem;
    margin: 8px 7px 0px;
    color: #119FA3;
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;    
    max-width: 100%;            
}

.hotel-rate{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1px 7px;
    flex-grow: 1;
    justify-content: flex-end;
}

.hotel-rate .price p{
    justify-content: end;
    font-size: 0.8rem;
    color: #119FA3;
    text-align: right;
}

.hotel-rate .price p span{
    font-size: 1rem;
    color: #3A94C8;
    font-weight: 600;

}

.average-hotel-rate{
    display: flex;
    color: #119FA3;
    align-items: center;
    gap: 2px;
    margin-left: 10px;
    font-size: 0.9rem;
}

.average-hotel-rate i{
    color: #FFC402;
}

.hotel-card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 10px;  
}

.hotel-card-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 5px;
    margin-top: 5px;
}

.hotel-card-btn button i{
    color: #ffffff;
    font-size: 14px;
}

.hotel-card-btn:hover{
    color: #119FA3;
}

.hotel-card:last-child {
    padding: 0;
    height: 359px;
    position: relative;
    overflow: hidden;
}

.hotel-card:last-child img {
    height: 368px;
    width: 100%;
    object-fit: cover;
}

.hotel-card:last-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #119396 100%);
    z-index: 2;
}

.hotel-card:last-child h3 {
    color: #fff;
    position: absolute;
    text-align: center;
    bottom: 25%;
    right: 0; 
    width: fit-content;
    z-index: 3;
}

.hotel-card:last-child button{
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    padding: 10px 0;
    width: 80%;
    position: absolute;
    bottom: 5%;
    right: 10%;
    z-index: 3;
}
/* HOTEL DEALS END */

/* REVIEW START */

.review-card{
    padding-bottom: 10px;
}

.review-date{
    background-color: #119396;
    border-radius: 7px;
    color: #fff;
    font-weight: 400;
    font-size: .7rem;
    position: absolute;
    top: 0;
    margin: 10px;
    padding: 6px 10px;
    text-align: center;
}

.reviewer-name{
    margin: 5px 10px 5px;
    font-size: 0.9rem;
    color: #464242;
}

.place-review{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 12px 10px 5px ;
}

.review-desc{
    color: #686868;
    font-size: 11px;
    max-height: 59px;
    text-align: justify;
    transition: max-height 0.3 ease;
}

.review-desc.expanded {
    max-height: none;
}


.review-read-more{
    border-radius: 20px;
    font-weight: 200;
    font-size: .7rem;
    padding: 5px 20px;
    letter-spacing: 1.5px;
    margin: 10px 7px 0;
}

.review-more{
    padding: 5px 20px;
    font-weight: 400;
}

/* REVIEW END */

/* SUBFOOTER START */

.subfooter-container{
    display: flex;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.subfooter-container img{
    width: 680px;
}

/* SUBFOOTER END */

/* DESTINATION START */

.destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.dest-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin: 10px 0;
    padding-left: 10px;
    width: 100%;
}

.dest-link a{
    color: #465858;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}
.destination-main-slider {
    position: relative;
    width: 100%;
}

.destination-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 490px;
    overflow: hidden;
    z-index: 0;
}

.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}

.destination-main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(30, 30, 30, .8) 79.5%);
    z-index: 2;
}

.destination-main-content {
    position: relative;
    text-align: center;
    margin: 0 10rem;
    color: #ffffff;
    z-index: 3;
}

.destination-main-content h2 {
    font-size: 3rem;
}

.destination-main-content p {
    font-size: 0.9rem;
}

/* Arrows */
.arrow {
    position: absolute;
    opacity: .5;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 4;
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

/* Dots */
.slider-dots {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}

.slider-dots .dot {
    height: 9px;
    width: 9px;
    margin: 0 5px;
    display: inline-block;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.slider-dots .dot.active {
    background-color: #ffffff;
}

.destination-form{
    position: sticky;
    width: 100%;
    margin: .8rem 0 .7rem;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    padding: 13px 20px;
}

.destination-form form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}


.destination-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.8rem;
    width: 100%;
}       

.custom-select select {
    padding: 5px 15px;
}

.cat-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-acts {
    display: flex;
    position: relative;
    margin-left: auto;
}

.search-acts input {
    width: 20rem;
    padding: 5px 15px;
    padding-right: 49px;
    border: 1px solid #b2b2b2;
}

.search-acts-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #119396;
    color: #fff;
    padding: 7px 14px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}







/* DESTINATION END */












/* Responsive */
@media screen and (max-width: 1100px){

    .home-texts{
        width: 50vw;
        margin-left: 1.5rem;
    }

}

@media screen and (max-width: 1024px){

    .nav-logo{
        font-weight: 700;
        font-size: 1.1rem;
    }
    
    .nav-list{
        font-size: .9rem;
    }

    #section-title{
        max-width: 80%;
        margin: 2rem;
        text-align: center;
    }
    
    #section-title h2{
        font-size: 1.5rem;
    }
    
    #section-title p{
        font-size: .7rem;
    }

    .destination-wrapper{
        gap: 1rem;
    }

    .destination-wrapper .dest-resp{
        width: 32%;
        align-items: center;
    }
}



@media screen and (max-width: 768px) {

    .nav-container{
        padding: 1rem .5rem;
    }

    .nav-logo{
        font-weight: 700;
        font-size: 15px;
    }

    .nav-menu{
        list-style: none;
        position: fixed;
        top: -100%;
        left: 0;
        background: rgba(0,0,0,0.7);
        backdrop-filter: saturate(100%) blur(5px);
        width: 100%;
        padding-block: 4.5rem 4rem;
        z-index: 10;
        transition: top .4s;
    }

    .nav-menu li a, i{
        color: #ffffff;
    }

    .nav-menu li a:after{
        background-color: #ffffff;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        text-align: center;
    }

    .nav-close{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .search-btn,    
    .toggle-menu,
    .nav-close,
    .user-logo{
        display: flex; 
    }


    .search-btn i,
    .toggle-menu i,
    .nav-close i,
    .user-logo i{
        font-size: 19px;
    }

    .login-btn, .signup-btn{
        display: none;
    }

    .home-texts{
        line-height: 1.3;
        text-align: center;
        width: 100%;
        height: 70vh;
        margin: 0;
        padding: 0 1.5rem;
    }

    .home-texts h1{
        font-size: 1.5rem;
    }

    .home-texts p{
        width: 100%;
        font-size: .6rem;
        padding: 0 1rem;
    }

    .search-container{
        display: none;
    }

    .login-container h2{
        font-size: 1.2rem;
    }

    .login-content{
        width: 330px;
    }

    .destination-container{
        width: 100%;
        margin: 0;
        gap: .8rem;
    }

    .destination-container img {
        width: 280px;
        height: 230px;
    }

    .destination-desc{
        max-height: 58px;
        font-size: .7rem;
    }

    .read-more{
        font-size: .8rem;
    }

    .read-more i{
        color: #119FA3;
    }

    .destination-main{
        height: 250px;
    }

    .destination-wrapper{
        gap: 1rem;
    }

    .destination-wrapper .dest-resp{
        width: 100%;
        align-items: center;
    }

    .destination-form form {
        flex-direction: column;
        padding: 0 0 10px;
    }

    .search-acts input {
        width: 100%;
        padding: 2px;
        padding-right: 40px;
        margin-bottom: -.9rem; 
    }

    .search-acts-btn {
        padding: 3.5px 12px; 
        right: 0px;
        top: 12px;
        transform: translateY(-50%);
    }

    .search-acts {
        width: 100%;
    }

    .custom-select select {
        font-size: .6rem;
        width: 10rem;
    }

    .cat-cont{
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: -15px;
    }

    .destination-main-content h2{
        font-size: 1.2rem;
    }
    
    .destination-main-content p{
        font-size: 0.5rem;
    }

    .dest-link i{
        color: #465858;
    }

    .destination-main-content{
        margin: 0 3.5rem;
    }

    .dest-link{
        margin: 8px 0;
    }

    .dest-link a{
        font-size: .6rem;
    }

    .destination-container{
        gap: .8rem;
    }
    
    .destination-container .destination-img{
        width: 48%;
        height: auto;
    }

    .destination-container .destination-img img{
        height: 120px;
        object-fit: cover;
        width: 250px;
    }

    .destination-container .destination-img h4{
        font-size: .8rem;
    }

    .destination-img .entrance-fee{
        font-size: .7rem;
        margin-top: -2px;
        margin-bottom: -2px;
    }

    .destination-img .location a{  
        font-size: .6rem;
        margin-left: -2px;
    }

    .destination-img .destination-desc{
        font-size: .6rem;
        max-height: 35px;
    }

    .destination-img .read-more{
        font-size: .6rem;
    }

    .slider-dots .dot{
        width: 5px;
        height: 5px;
    }

    .arrow{
        padding: 10px;
        font-size: 20px;
    }

}

/* DEFAULT */

input,
select {
    font-size: .9rem;
    border-radius: 20px;
    border: 1px solid #B2B2B2;
    color: #4b4b4b;
    position: relative;
    appearance: none;
}

.custom-select{
    position: relative;
}

.custom-select select{
    width: 10rem;
    cursor: pointer;
}

.custom-select i{
    position: absolute;
    color: #4b4b4b;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
}

