@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style: none;
}

.nav-container{
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    top: 0;
}

.nav-container li,
.nav-container a,
.nav-container i {
    text-decoration: none;
    color: #119396;
}

.nav-link.active-nav {
    padding: .4rem .8rem;
    background-color: #119396;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
}

.nav-link.active-nav i{
    color: #fff;
}

.nav-menu li a{
    position: relative;
    display: inline-block;
}


.nav-menu li:hover{
    font-weight: 600;
}

.nav-logo{
    font-weight: 700;
    font-size: 23px;
}

.nav-actions{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-actions i{
    color: #119396;
}

.user-cart {
    position: relative;
    cursor: pointer;
}

.user-cart i {
    font-size: 30px;
    color: #000;
    transition: transform 0.2s ease-in-out;
}

.user-cart:hover i {
    transform: scale(1.1);
}

.cart-badge {
    position: absolute;
    top: -2px;
    right: -5px;
    background: #119396;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.user-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ddd;
    transition: border 0.3s ease-in-out;
}

.user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-profile:hover {
    border-color: #119396;
}

.button-btn1{
    border:  #119396 1px solid;
    border-radius: 5px;
    background:  #119396;
    color:  #ffffff;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s;
}

.button-btn2{
    border:  #119396 1px solid;
    border-radius: 5px;
    background:  #ffffff;
    color:  #119396;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s;
}

.button-btn3{
    background-color: #fff;
    color: #119396;
    border: none;
    cursor: pointer;
    transition:.4s;
}

.button-btn1:hover{
    background:  #0b6064;
}

.button-btn2:hover{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.button-btn3:hover{
    background-color: #f3f3f3;
}

.social-btn i{
    color: #fff;
}

.search-btn i,
.user-logo i,
.nav-close i,
.toggle-menu i{
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

:is(.nav-close i, .toggle-menu i):hover{
    color: black;
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.login-btn{
    font-size: .8rem;
    padding: .9rem 2rem;;
}

.list-prop{
    font-size: .8rem;
    padding: .9rem 1.5rem;
    border-radius: 7px;
}

.search-btn,
.toggle-menu,
.nav-close,
.user-logo{
    display: none;  
}

.nav-link{
    font-weight: 400;
}

.show-menu{
    top: 0 !important;
}

.nav-search {
    border: 2px solid #119396;
    position: absolute;
    top: -50px;
    right: 12%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 8px 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
    width: 80%;
    max-width: 400px;
    z-index: 100;
}

.nav-search input {
    border: none;
    outline: none;
    font-size: 13px;
    padding: 6px 5px;
    width: 100%;
    max-width: 400px;
}

.nav-search .close-search {
    cursor: pointer;
    margin-left: 10px;
    color: #888;
}

.show-search{
    top: 12%;
}

.searchbar-btn{
    cursor: pointer;
    border: none;
    font-size: 12px;
    background-color: #119FA3;
    padding: 5px 8px;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s;
}

.searchbar-btn:hover{
    background-color: #0a6f72;
}

.login-container {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -700px;
    opacity: 0;
    left: 0;
    background-color: transparent;
    transition: top 0.8s, opacity 0.8s, background-color 0.1s;
}

.show-login-container{
    top: 0;
    opacity: 1;
}

.login-container h2{
    font-size: 1.5rem;
    margin: 10px 0 25px 0;
}

.login-content {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.login-container-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.login-container-close i{
    color:#333;
}

.login-title {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #333;
}

.login-input {
    margin-bottom: 20px;
}

.login-input input {
    width: 100%;
    padding: 15px;
    font-size: .9rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.login-container .button-login {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container .button-login:hover {
    background-color: #0056b3;
}

.other-methods {
    margin-bottom: 20px;
}

.other-methods p {
    font-size: 13px;
    color: #777;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-methods .left-line, .other-methods .right-line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.other-methods button{
    color: #fff;
}

.methods-icon button {
    margin: 10px 10px;
    padding: 10px 12px;
    font-size: 24px;
    border: none;
    color: #fff;
    background-color: blue;
    cursor: pointer;
    border-radius: 50%;
}

.methods-icon button:last-child{
    background-color: #bebebe;
}

.methods-icon button:hover {
    opacity: .5;
}

.terms p {
    font-size: 14px;
    color: #777;
    line-height: 1.5;
}

.terms a {
    color: #007bff;
    text-decoration: underline;
}

.terms a:hover {
    color: #0056b3;
}

/* HEADER END */
/* FOOTER START */
footer{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background: linear-gradient(0deg, #119FA3 0%, #119FA3 100%);
    padding: 80px 40px;
    margin-top: 20px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.footer-list li, .footer-list p{
    margin: 5px 12px;
    font-size: 1rem;
}

.footer-list li a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.footer-list li a:hover{
    color: #000;
}

.footer-list h5{
    font-size: 1.2rem;
}

.footer-list:last-child{
    width: 30%;
}

.footer-list form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list input{
    width: 81%;
    border-radius: 10px;
    border: none;
    position: relative;
    padding: 8px 88px 8px 5px;
    margin-right: 100px;
}

.footer-list .footer-btn{
    position: absolute;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    right: 8%;
}

/* FOOTER END */

/* USER MENU START */

.user-menu {
    position: absolute;
    top: 85px;
    right: 5px;
    background: white;
    border-radius: 8px;
    width: 220px;
    overflow: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.user-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.user-menu ul li{
    display: flex;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    cursor: pointer;
}

.user-menu ul li:last-child {
    border-top: 2px solid #ddd;
    justify-content: center;
    text-align: center;
}

.user-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.user-menu ul li i{
    color: #333;
    font-size: 20px;
}

.user-menu ul li:hover {
    background: #f1f1f1;
}
/* USER MENU END */

/* USER SAVED LIST START */
.user-saved-list {
    position: absolute;
    top: 85px;
    right: 100px;
    background: #fff;
    border-radius: 8px;
    width: 320px;
    max-height: 520px;
    overflow: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.user-saved-list.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.saved-cont {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    background: #fff;
}

.saved-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid #ddd;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
}

.saved-item:hover {
    background: #f1f1f1;
}

.saved-item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.saved-item-info {
    display: flex;
    flex-direction: column;
}

.saved-item-info h3 {
    margin: 0;
    font-size: 16px;
    color: #000;
}

.saved-item-info p {
    margin: 2px 0;
    font-size: 12px;
    color: #555;
    max-width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.saved-item-info .price {
    font-weight: bold;
    color: #000000;
}

.saved-container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.saved-button{
    width: 90%;
    border-radius: 0;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px;
}


/* USER SAVED LIST END */