<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Dashboard</title>
</head>
<body>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            <h2>Travel Together</h2>
        </div>

        <div class="sidebar-link-container">
            <div class="close-sidebar sidebar-btn">
                <button><i class="ri-close-line"></i></button>
            </div>
            <div class="open-sidebar sidebar-btn">
                <button><i class="ri-menu-line"></i></button>
            </div>

            <ul>
                <li>
                    <a href="dashboard.html" class="sidebar-active"><i class="ri-pie-chart-line"></i>Dashboard</a>
                </li>
                <li>
                    <a href="users.html"><i class="ri-group-line"></i>Users</a>
                </li>
                <li>
                    <a href="#"><i class="ri-calendar-line"></i>Bookings</a>
                </li>
                <li>
                    <a href="destination.html"><i class="ri-map-pin-line"></i>Destinations</a>
                </li>
                <li>
                    <a href="#"><i class="ri-hotel-line"></i>Hotel and Deals</a>
                </li>
                <li>
                    <a href="#"><i class="ri-star-line"></i>Reviews</a>
                </li>
            </ul> 
        </div>
    </div>

    
    <script src="admin.js"></script>
</body>
</html>